<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :delivery_at %>
    <%= form.datetime_select :delivery_at %>
  </div>

  <div class="field form-group room-field">
    <%= form.label :room_id %>
    <%= collection_select(:rooms, :room_id, Room.all.where(user_id: Service::Chatwork.current_account_id), :id, :name, {}, { class: "form-control" })%>
  </div>

  <div class="actions ">
    <%= form.submit class: "btn btn-info" %>
  </div>
<% end %>
